@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Houndstoothify </h1>
    <p> Helping you keep track of your favorite tracks!</p>
</div>
